   body {
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #ffffff;
     
      
    }
    .login-form {
      padding: 20px;
      padding-right: 20px;
      border: 2px solid #ddd;
      border-radius: 5px;
      background-color: #0e7081;
      width: 400px;  
      height: 330px; 
      margin: 0 auto;  
      text-align: center;
      color: aliceblue;
      font-family: 'Times New Roman', Times, serif;
    }
    .input-field {
      margin-bottom: 15px;
    }
    .input-field{
      display: block;
      margin-bottom: 5px;
      
    }

    label{
        text-align: left;
        display: block;
      margin-bottom: 5px;
      color: aliceblue;
      font-family: 'Times New Roman', Times, serif;
    }

    .img{
    width: 70px;
    height: 70px;
    position: relative;
  }

  .button{
    color: rgb(8, 94, 128);
    font-family: 'Times New Roman', Times, serif;
  }